<h1>Make: <%= @vehicle.make() %></h1>
<h1>Model: <%= @vehicle.model() %></h1>
<h1>Year: <%= @vehicle.year() %></h1>
<h1>Color: <%= @vehicle.color() %></h1>
<h1>Engine Size: <%= @vehicle.engine_size() %></h1>
<h1>Number of Doors: <%= @vehicle.number_of_doors() %></h1>

<a href="/">Home</a>
